#hero-btn{
    background-color: #ff0062;
    width: fit-content;
    height: fit-content;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    padding: 0;
}

#text-button{
    padding: 10px;
    
}

@media(max-width:440px){
    #text-button{
        padding: 5px;
        font-size: 15px;
        font-weight: bold;
    }
}