
.footer{
    margin: 50px;
}

.footer-top{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    /* display: flex;
    justify-content: center;
    width: 100%; */
    display: flex;
    justify-content: start;
    width: 100%;
    gap: 150px;


}

.footer-left{
     flex-basis: 50%; 
}

.footer-left p{
     width: 400px; 
}
.social-media{
    display: flex;
    gap: 10px;
}

#email{
    color: #ffffff;
    border-bottom: 2px solid #ff0062;
    cursor: pointer;
}

@media(max-width:440px){

    .footer-top {
        flex-direction: column; 
        align-items: center;
        gap: 20px;
    }

    #footer-left .formulaire{
        width: 100%;
        max-width: 400px; 
        text-align: center; 
    }
    #footer-left{
       align-items: center;
       text-align: center;
    }
    .footer-left h1{
        font-size:35px
    }

    .social-media{
        padding-left: 73px;
    }
   
}