
.header{
    color: #C7C7C7;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    height: 48px;
    align-items: center;
}

.menu-list{
    display: flex;
    gap: 20px;
    list-style: none;
    color: #C7C7C7;

}

#hbg{
    display:none;
}

.menu-items a{
    color: #C7C7C7;
}

@media (max-width: 440px){

    #hbg{
        display: block;
    }

    .menu{
        display: none;
        position: absolute;
        right: 0;
        padding: 0 2rem;
        top: 75px;
        background-image: white;
        transition: all 0.25s;
    }

    .menu .menu-list{
        flex-direction: column;
    }
   
}