
.hero-about-container{
    margin: 50px;
}
.about-hero-icon{
    display: flex;
    justify-content: end;
    margin-right: 15.5%;
    gap: 20px;
}

#about-hero-social{
    margin-top: 27px;
}

.hero-about-img{
    background-color: #C7C7C7;
    height: 700px;
    margin: 80px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px;
   
}

#about-img{
    height: 645px;
}

#capabilitie{
    margin-bottom: 70px;
}

@media(max-width:440px){
    .about-hero-icon{
        margin-right: 0;
    }

    .hero-about-img{
        height: 630px;
        padding-bottom: 0;

        
    }

    #about-img{
        height: 645px;
        width: 100%;
    margin-bottom: 0;

    }
}