
.image-gallery{
    background-color: #1A1A1A;
    width: 500px;
    height: 490px;
    align-content: center;
    padding-left: 30px;
    border-radius: 20px;
}

#this-image{
    width: 440px;
}

@media (max-width:440px){
    .image-gallery{
        background-color: #1A1A1A;
        width: 100%;
        height: 490px;
        align-content: center;
        padding-left: 30px;
        border-radius: 20px;
        margin: 0 20px;
        overflow-x: hidden;
    }

    #this-image{
        width: 350px;
    }
    
}