
.second-section-title h1{
    margin: 0;
    white-space: nowrap;
}

.second-section{
     margin: 50px;
       
}

.second-section-title p{
    margin-top: 4px;
    width: 500px;
}

 .project-items { 
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
    align-items: center;
}

.year{
    display: flex;
    justify-content: space-between;
    height: 28px;
}

.text-bottom{
    display: flex;
    gap: 40px;
}

.live-demo a{
    color: #ff0062;
}

.live-demo hr{
    border-color: #ff0062;
}

.see-one{
    margin-bottom: 0;
    margin-top: 2.2px;
}

.see-one a{
    color: #ff0062;
}

.see-one hr{
    border-color: #ff0062;
}

.project-text{
    width: 576px;
    height: 300px;
    margin-bottom: 100px;
}

.project-2-text{
    width: 576px;
    height: 300px;
    margin-bottom: 100px;
}

@media (max-width:440px){
    .second-section{
        display: flex;
        flex-direction: column;
        margin: 30px; 
        width: 100%;
        max-width: 100%;
        overflow-x: 100%;
        align-content: center;
   }

   .project-items{
    display: flex;
    flex-direction: column;
   }

   .project-text { 
    width: 100%;
    height: fit-content;
    align-items: center;
}

.project-2-text{
    width: 100%;
    height: fit-content;
}
.project-1-img{
    margin: 20px;
}

.second-section-title h1{
    font-size: 30px;
}

.second-section-title p{
    width: 100%;
    font-size: 15px;
}

}

